.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**/*.js
.DS_Store
*.vsix
CONTRIBUTING.md
CHANGES.md
.github/**
resources/logo_dark.png
resources/logo_light.png
